@charset "UTF-8";

/* 回答はここに書いてね */

.table table{
  border: 1px solid #dedede;
  width: 100%;
  table-layout: fixed;
}
.menutable th,
.menutable td {
  border: 1px solid #dedede;
  padding: 10px;
  vertical-align: middle;
  text-align: center;
}
.menutable th {
  background-color: #2244aa;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
}
.menutable:nth-child(even) {
  background-color: #ecf1f2;
}
.tablebody .menutable:last-child {
  border-bottom: dashed #000 2px;
}
/* 回答はここに書いてね */
